page-accueil {
    .contentimg {
        width: 100%;
        height: 45%;
        text-align: center;
        .logo {
            max-width: 100%;
            height: 100%;
            margin: 0 auto;
        }
    }

    .contentinputs {
        width: 100%;
        margin-top: 5%;
        height: 15%;
        text-align: center;
        input {
            width: 75%;
            margin: 7%;
            padding: 15px;
            box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.25);
            border: 1px solid color($colors, primary, base);
        }
    }

    .contentbtn {
        width: 100%;
        text-align: center;
       
        .button {
            background-color: color($colors, primary, base);
            border-radius: 20px;
            color: color($colors, light, base);
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin-top: 0%;
        }
    }
}
