<ion-header>

</ion-header>

<ion-content padding>
  <ion-row class="containertitle1">
    <h1 class="title1">SoftSkills</h1>
    <bar-rating name="rating" [theme]="'horizontal'" [(rate)]="movieRating" [max]="5" ></bar-rating>

  </ion-row>
  <ion-row class="card-container" *ngIf="ready">
    <div>
      <sc-card padding *ngFor="let attendant of attendants" [orientation]="cardDirection" [tinder-card]="cardOverlay"
        [callDestroy]="attendant.destroyEvent" [callLike]="attendant.likeEvent" [ngClass]="['first']" (onLike)="onCardInteract($event,attendant)">

        <img src="../../assets/icon/faqs.png" class="imgicon">
        <h1> {{attendant.nom_softskill}}
          <br>
        </h1>
        <p>{{attendant.description}}</p>
      </sc-card>

    </div>
  </ion-row>
  <ion-row>
    <div class="content-btns">
      <button id="non" (click)="like(false)" ion-button outline>NON</button>
      <button id="oui" (click)="like(true)" ion-button outline>OUI</button>
    </div>
  </ion-row>
</ion-content>
