page-coach-accueil {
    .home-informations{
        margin-top: 20px;
        h2{
            border-bottom:1px solid color($colors,primary,base);
        }
        
    }
    .home-mise-en-valeur{
        margin-top: 30px;
        .home-valeur-box{
            border: 1px solid color($colors,primary,base);
            border-radius: 20px;
            padding: 5px 0px ;
            text-align: center;
            button{
                text-transform: uppercase;
            }
        }
    }
    .home-progresser{
        margin-top: 50px;
        .home-progresser-box{
            border: 1px solid color($colors,primary,base);
            border-radius: 20px;
            padding: 5px 0px ;
            text-align: center;
            button{
                text-transform: uppercase;
            }
        }
        
    }

    .card{
        width: 50%;
    }

    .card-heap{
        width: 50px;
    }
}
