page-home {

}

.home-title-softkills{
    text-align:center
}

.home-informations{
    
}


.home-mise-en-valeur{
    .home-valeur-box{
        border: 1px solid color($colors,primary,base);
        border-radius: 20px;
    }
}


.home-progresser{
    .home-progresser-box{
        border: 1px solid color($colors,primary,base);
        border-radius: 20px;
    }
}

